.main-container {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;

  .container {
    max-width: 1000px;
    border: 5px solid grey;
    border-radius: 10px;
    padding: 25px;
    margin: auto;
    margin-top: 50px;

    .heading {
      font-size: 48px;
      font-weight: bold;
      color: #2196F3;
    }
    .content {
      font-size: 20px;
      .sub-content {
        margin-top: 20px;
      }
    }
  }
}